body{
    background-image: ;
}
h1{
    font-family: arial;
    text-decoration: underline;
    text-align: center;
    text-decoration-color: brown;
}
P{ 
     font-family: arial;
    text-align: center;
    color: crimson;
    width: 400PX;    

}